<!--create.ejs --> 
<!DOCTYPE html> 
<html> 
    <head> 
        <title>Add Player</title> 
        <link rel="stylesheet" href="../css/style.css"/>
    </head> 
    <body> 
        <h1>Add Player</h1> 
        <form method="post" action="/create"> 
            <label for="nameplayer">nameplayer:</label> 
            <input type="text" id="nameplayer" name="nameplayer"> 
            <br> 
            
            <input type="submit" value="create"> 
        </form> 
        <a href="/">Back to List</a> 
    </body> 
    </html>