<!--create.ejs --> 
<!DOCTYPE html> 
<html> 
    <head> 
        <title>Recode Score</title> 
        <link rel="stylesheet" href="../css/style.css"/>
    </head> 
    
    <body> 
        <h1>Recode Score</h1> 
        <form method="post" action="/createscore"> 
          <select id="playerId" name="playerId">
            <!-- Options will be dynamically populated using JavaScript -->
          </select>
          <br>
        
          <script src="script.js"></script>  
            <label for="teamId">teamId:</label> 
            <input type="text" id="teamId" name="teamId"> 
            <br>
            <label for="score">score:</label> 
            <input type="text" id="score" name="score"> 
            <br>
            <input type="submit" value="createscore"> 
        </form> 
        <a href="/">Back to List</a> 
    </body> 
    </html>