<!--create.ejs --> 
<!DOCTYPE html> 
<html> 
    <head> 
        <title>Add Team</title> 
        <link rel="stylesheet" href="../css/style.css"/>
    </head> 
    <body> 
        <h1>Add Team</h1> 
        <form method="post" action="/createteam"> 
            <label for="teamname">teamname:</label> 
            <input type="text" id="teamname" name="teamname"> 
            <br> 
            <input type="submit" value="createteam"> 
        </form> 
        <a href="/">Back to List</a> 
    </body> 
    </html>