<!DOCTYPE html>
<html>
<head>
  <title>Main Page</title>
</head>
<body>
  <h1>Welcome to the Main Page</h1>
  <ul>
    <li><a href="/players">Go to Players Page</a></li>
    <li><a href="/teams">Go to Teams Page</a></li>
  </ul>
</body>
</html>
