<!-- book.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>player</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>View player</h1>
    <table class="football-table">
      <tr>
        <th>Player</th>
       
      </tr>
      <tr>
        <td><%= player.nameplayer %></td>
        
      </tr>
    </table>
    <div class="link-center">
      <a href="/update/<%= player.id %>">Edit</a>
      <a href="/delete/<%= player.id %>">Delete</a>
      <a href="/">Back to List</a>
    </div>
  </body>
</html>