<!-- books.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Teams</title>
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
  <h1>Teams</h1>
  <div class="link-center">
    <a href="/createteam">Add Team</a>
  </div>
  <table class="football-table">
    <tr>
      <th>Teamname</th>
      <th>Actions</th>
    </tr>
    <% for(var i=0; i < teams.length; i++) { %>
    <tr>
      <td><%= teams[i].teamname %></td>
      <td>
        <!-- <a href="/team/<%= teams[i].id %>">View</a> -->
        <a href="/updateteam/<%= teams[i].id %>">Edit</a>
        <a href="/deleteteam/<%= teams[i].id %>">Delete</a>
      </td>
    </tr>
    <% } %>
  </table>
  
</body>
</html>